@charset "UTF-8";
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("/images/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("/images/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 300;
  font-family: Roboto;
  src: url("/images/fonts/Roboto-Light.ttf");
}
.cart-img img, .popular-items-img img, .items-img img, .sales-img img, .product-cart-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.view-block-btn ul li a:hover, .footer-items ul li a:hover, .header-body a:hover, .view-block-btn ul li a:focus, .footer-items ul li a:focus, .header-body a:focus, .view-block-btn ul li a:active, .footer-items ul li a:active, .header-body a:active {
  text-decoration: underline;
}

html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

a img, a {
  border: none;
  outline: none;
}

.clear {
  clear: both;
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

p, a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
}

a {
  text-decoration: none;
}

i {
  margin-right: 5px;
}

small {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

ul {
  padding-left: 0;
}

header {
  position: relative;
  margin-bottom: 30px;
}

.header-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header-body p {
  padding: 3px 0;
  margin: 0;
}
.header-body p a {
  font-size: 16px;
}
@media (max-width: 768px) {
  .header-body p a {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .header-body p a {
    font-size: 12px;
  }
}
.header-body a {
  font-size: 16px;
}
@media (max-width: 768px) {
  .header-body a {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .header-body a {
    font-size: 12px;
  }
}

.auth-btn {
  margin-left: 10px;
}

.header-block-left {
  margin: 10px 0;
}

.logo {
  width: 125px;
  height: auto;
}
@media (max-width: 768px) {
  .logo {
    width: 100px;
  }
}

.header2 {
  background: #7c3d8e;
  position: relative;
}

.header-search {
  width: 80%;
  padding: 0 50px;
  display: inline-block;
}
.header-search form {
  position: relative;
}
.header-search form input {
  width: 100%;
  padding: 10px 15px;
  background: #f5f5f5;
  border: none;
  border-radius: 25px;
  opacity: 0.75;
}
.header-search form button {
  margin: 2px;
  position: absolute;
  right: 0;
  border: 2px solid #9f6dac;
  border-radius: 25px;
  width: 50px;
  height: 37px;
}
.header-search form button i {
  font-size: 23px;
  line-height: 28px;
  color: #9f6dac;
  margin-left: 5px;
}
@media (max-width: 600px) {
  .header-search {
    padding: 0 10px;
  }
}

.btn-cart {
  position: relative;
  padding: 0 25px;
  text-align: center;
  font-size: 36px !important;
  line-height: 45px;
  color: #e1e0e0;
}
.btn-cart:hover, .btn-cart:focus, .btn-cart:active {
  color: #9f6dac;
}
.btn-cart i {
  margin-right: 0;
}
@media (max-width: 600px) {
  .btn-cart {
    display: none;
  }
}

.cart_count {
  display: block;
  position: absolute;
  top: -7px;
  right: 10px;
  font-size: 14px;
  color: #7c3d8e;
  line-height: 7px;
  background: #e1e0e0;
  padding: 5px !important;
  border-radius: 10px;
}

.cart_count_mb {
  display: block;
  position: absolute;
  top: -11px;
  left: -19px;
  font-size: 14px;
  color: #7c3d8e;
  line-height: 7px;
  background: #e1e0e0;
  padding: 5px !important;
  border-radius: 10px;
  border: 1px solid #7c3d8e;
}

.cart_count.hide, .cart_count_mb.hide {
  display: none;
}

/* nav */
nav {
  display: inline-block;
  width: 100%;
  background: #e1e0e0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column-reverse;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  margin: 0;
}
nav ul li {
  list-style: none;
  padding: 13px 15px;
}
nav ul li a {
  color: #7c3d8e;
  padding: 0 2px;
}
nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
  color: #393185;
  border-bottom: 3px solid #393185;
  text-decoration: none;
}
@media (max-width: 768px) {
  nav ul li {
    margin: 3px 10px;
  }
}
@media (max-width: 575px) {
  nav ul {
    width: 100%;
    overflow: scroll;
  }
}

.nav-catalog {
  background: #9f6dac;
  width: 200px;
  padding: 5px 15px;
  position: relative;
  border-radius: 10px;
  color: #e1e0e0;
  font-size: 16px;
  line-height: 20px;
  margin-left: 0;
}
.nav-catalog:hover {
  border-radius: 10px 10px 0 0;
}
.nav-catalog:hover .sidebar {
  display: block;
}
.nav-catalog i {
  float: right;
  font-size: 22px;
  margin-right: 0;
}
@media (max-width: 768px) {
  .nav-catalog i {
    float: left;
    margin-right: 5px;
  }
}
.nav-catalog:hover i::before {
  content: "\f156";
}
@media (max-width: 768px) {
  .nav-catalog {
    width: 100%;
    background: none;
    border-radius: 0;
    border-top: 1px solid #9f6dac;
    color: #9f6dac;
  }
  .nav-catalog:hover {
    border-radius: 0;
  }
}

.sidebar {
  display: none;
  position: absolute;
  left: 0;
  top: 25px;
  width: 100%;
  background: #9f6dac;
  border-radius: 0 0 10px 10px;
  z-index: 1;
  padding: 10px 0;
}
.sidebar li {
  list-style: none;
  text-align: left;
  margin: 0;
  border-bottom: 1px solid #e1e0e0;
  padding: 5px 0;
}
.sidebar li:last-child {
  border-bottom: none;
}
.sidebar li a {
  color: #e1e0e0;
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.sidebar li a:hover, .sidebar li a:active, .sidebar li a:focus {
  border-left: 6px solid #e1e0e0;
  border-bottom: none;
  color: #e1e0e0;
}
@media (max-width: 768px) {
  .sidebar li a {
    color: #9f6dac;
  }
  .sidebar li a:hover, .sidebar li a:active, .sidebar li a:focus {
    border-left: 6px solid #9f6dac;
  }
}
@media (max-width: 768px) {
  .sidebar {
    background: #e1e0e0;
  }
}

/* nav */
footer {
  background: #7c3d8e;
  padding: 50px 0;
}

.footer-blok {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 570px) {
  .footer-blok {
    flex-wrap: wrap;
  }
}
@media (max-width: 425px) {
  .footer-blok {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.f-title {
  font-size: 18px;
  line-height: 20px;
  color: #e1e0e0;
  border-bottom: 1px solid #e1e0e0;
}

.footer-items {
  width: 25%;
  padding: 0 15px;
}
.footer-items:first-child {
  padding-left: 0;
}
@media (max-width: 570px) {
  .footer-items:first-child {
    padding-left: 15px;
  }
}
.footer-items:last-child {
  padding-right: 0;
}
@media (max-width: 570px) {
  .footer-items:last-child {
    padding-right: 15px;
  }
}
.footer-items ul {
  padding: 0;
}
.footer-items ul li {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  margin: 7px 0;
  color: #e1e0e0;
}
.footer-items ul li a {
  color: #e1e0e0;
}
@media (max-width: 570px) {
  .footer-items {
    width: 50%;
  }
}
@media (max-width: 425px) {
  .footer-items {
    width: 100%;
    text-align: center;
  }
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.social li i {
  font-size: 25px;
}
@media (max-width: 425px) {
  .social {
    justify-content: center;
  }
}

.slide {
  margin: 30px 0;
}

.carousel-item {
  width: 100%;
  height: 435px;
  overflow: hidden;
}

.carusel-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slide-tlt {
  font-size: 28px;
  color: #7c3d8e;
  line-height: 35px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .slide-tlt {
    font-size: 26px;
    line-height: 35px;
  }
}
@media (max-width: 525px) {
  .slide-tlt {
    font-size: 18px;
    line-height: 25px;
  }
}

.carousel-caption {
  bottom: 45px;
  left: 45px;
  background: #e1e0e0;
  text-align: left;
  width: 440px;
  height: 175px;
  padding: 10px 15px;
  margin: 0;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .carousel-caption {
    width: 290px;
    height: 145px;
  }
}
@media (max-width: 525px) {
  .carousel-caption {
    left: 10px;
    width: 240px;
    height: 125px;
  }
}

.slide-btn {
  color: #7c3d8e;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid #7c3d8e;
  padding: 8px 20px;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
}
.slide-btn:focus, .slide-btn:active, .slide-btn:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .slide-btn {
    font-size: 16px;
    padding: 5px 16px;
  }
}
@media (max-width: 525px) {
  .slide-btn {
    font-size: 14px;
    padding: 3px 10px;
  }
}

.carousel-control-next, .carousel-control-prev {
  width: 6%;
}

.block-requerst {
  position: fixed;
  right: 0;
  bottom: 100px;
  background: #7c3d8e;
  width: 60px;
  height: auto;
  border-radius: 10px 0 0 10px;
  z-index: 9999;
  text-align: center;
}

.btn-cart-mb {
  display: none;
  font-size: 36px !important;
  line-height: 45px;
  color: #e1e0e0;
  padding: 0 4px;
}
.btn-cart-mb:hover, .btn-cart-mb:focus, .btn-cart-mb:active {
  color: #9f6dac;
}
.btn-cart-mb i {
  margin-right: 0;
}
@media (max-width: 600px) {
  .btn-cart-mb {
    display: block;
  }
}

.btn-feedback, .btn-whatsapp {
  border: none;
  background: none;
  color: #e1e0e0;
  font-size: 36px;
  line-height: 45px;
  padding: 4px;
  text-align: center;
}
.btn-feedback:hover, .btn-feedback:focus, .btn-feedback:active, .btn-whatsapp:hover, .btn-whatsapp:focus, .btn-whatsapp:active {
  color: #9f6dac;
}
.btn-feedback i, .btn-whatsapp i {
  margin-right: 0;
}

.tooltiptext, .tooltiptext-orders, .tooltiptext-whatsapp {
  display: none;
  width: 135px;
  position: absolute;
  background: #393185;
  font-size: 14px;
  color: #e1e0e0;
  padding: 2px 5px;
  border-radius: 7px;
}

.tooltiptext {
  top: 7px;
  right: 50px;
}
@media (max-width: 600px) {
  .tooltiptext {
    top: 60px;
  }
}

.tooltiptext-orders {
  top: 7px;
  right: 50px;
}

.tooltiptext-whatsapp {
  top: 61px;
  right: 50px;
}
@media (max-width: 600px) {
  .tooltiptext-whatsapp {
    top: 107px;
  }
}

.block-feedback:hover .tooltiptext {
  display: block;
}

.block-orders:hover .tooltiptext-orders {
  display: block;
}

.block-whatsapp:hover .tooltiptext-whatsapp {
  display: block;
}

.main-block-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.main-block-title li {
  list-style: none;
  margin: 0 5px;
  height: 35px;
}
.main-block-title li:first-child {
  margin-left: 0;
}
.main-block-title li button {
  border: none;
  background: none;
  font-size: 16px;
  line-height: 20px;
  padding: 2px 5px;
}
.main-block-title li button:hover, .main-block-title li button:focus, .main-block-title li button:active {
  border-bottom: 2px solid #000;
}

.product_cart {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #e1e0e0;
  border-bottom: 1px solid #e1e0e0;
  padding: 25px 0;
}
.product_cart:first-child {
  border-top: none;
}
.product_cart:last-child {
  border-bottom: none;
}
@media (max-width: 768px) {
  .product_cart {
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: none;
    border-bottom: none;
  }
}

.product-cart-img {
  position: relative;
  width: 25%;
}
.product-cart-img picture {
  display: inline-block;
  width: 300px;
  height: 141px;
}
@media (max-width: 1440px) {
  .product-cart-img picture {
    width: 270px;
    height: 127px;
  }
}
@media (max-width: 1199px) {
  .product-cart-img picture {
    width: 235px;
    height: 110px;
  }
}
@media (max-width: 991px) {
  .product-cart-img picture {
    width: 200px;
    height: 94px;
  }
}
@media (max-width: 768px) {
  .product-cart-img picture {
    width: 260px;
    height: 122px;
  }
}
@media (max-width: 530px) {
  .product-cart-img picture {
    width: 225px;
    height: 106px;
  }
}
@media (max-width: 530px) {
  .product-cart-img picture {
    width: 200px;
    height: 94px;
  }
}
@media (max-width: 400px) {
  .product-cart-img picture {
    width: 175px;
    height: 82px;
  }
}
@media (max-width: 320px) {
  .product-cart-img picture {
    width: 150px;
    height: 71px;
  }
}
@media (max-width: 768px) {
  .product-cart-img {
    width: 100%;
  }
}

.cart_block_text {
  width: 55%;
}
.cart_block_text hr {
  margin-top: 30px;
}
.cart_block_text div {
  text-align: justify;
  margin: 10px 0;
}
@media (max-width: 768px) {
  .cart_block_text div {
    display: none;
  }
}
@media (max-width: 991px) {
  .cart_block_text {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .cart_block_text {
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }
  .cart_block_text hr {
    display: none;
  }
}

.cart-text-description {
  position: relative;
}
.cart-text-description p {
  margin-bottom: 0;
}
.cart-text-description p.hide {
  height: 85px;
  overflow: hidden;
}

#desc_btn {
  display: none;
  position: absolute;
  top: 80px;
  padding: 0;
}
#desc_btn.show {
  display: block;
}
#desc_btn.show.pos {
  position: relative;
  top: 0;
}

.cart-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .cart-title {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .cart-title {
    font-size: 14px;
    font-weight: 500;
  }
}

.cart-price, .cart-price span {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .cart-price, .cart-price span {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.cart_block_price {
  width: 15%;
  margin-left: 25px;
  text-align: right;
}
@media (max-width: 991px) {
  .cart_block_price {
    width: 16%;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .cart_block_price {
    width: 100%;
    text-align: center;
  }
}

.amount {
  position: relative;
  display: inline-block;
  width: 100px;
}
.amount button {
  position: absolute;
  border: none;
  background: none;
  font-size: 22px;
  line-height: 31px;
}
.amount button:first-child {
  right: 0;
}
.amount button:last-child {
  left: 0;
}
.amount button:hover, .amount button:focus, .amount button:active {
  color: #7c3d8e;
  opacity: 0.7;
}
@media (max-width: 768px) {
  .amount button {
    font-size: 18px;
  }
}
.amount input {
  width: 100%;
  text-align: center;
  background: #e1e0e0;
  border: 1px solid #e1e0e0;
  border-radius: 3px;
  line-height: 30px;
}
@media (max-width: 768px) {
  .amount {
    width: 90px;
  }
}

.btn-cart-product {
  position: relative;
  display: inline-block;
  border: none;
  background: #7c3d8e;
  border-radius: 3px;
  color: #e1e0e0;
  padding: 7px 16px;
  font-size: 14px;
  margin-top: 15px;
  width: 100px;
}
.btn-cart-product:focus, .btn-cart-product:active, .btn-cart-product:hover {
  opacity: 0.6;
}
.btn-cart-product.in_cart {
  background: #9f6dac;
}
@media (max-width: 991px) {
  .btn-cart-product {
    padding: 7px 15px;
  }
}
@media (max-width: 768px) {
  .btn-cart-product {
    width: 90px;
    padding: 7px 10px;
    font-size: 14px;
  }
}

.product-wrap {
  margin: 30px 0;
}
.product-wrap ul {
  padding-left: 0;
}
@media (max-width: 768px) {
  .product-wrap ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.accordion-button:not(.collapsed) {
  background: none;
}

.accordion-item {
  border: none;
  background: none;
}

.accordion-button, .accordion-body {
  padding: 10px 0;
}

.product-view-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 30px 0;
}
@media (max-width: 570px) {
  .product-view-1 {
    flex-direction: column;
  }
}
.product-view-1 img {
  width: 50%;
}
@media (max-width: 570px) {
  .product-view-1 img {
    width: 100%;
  }
}

.view-block-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media (max-width: 570px) {
  .view-block-btn {
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .view-block-btn ul {
    text-align: end;
  }
}
@media (max-width: 570px) {
  .view-block-btn ul {
    text-align: left;
  }
}
.view-block-btn ul li {
  list-style: none;
  width: 100%;
}
.view-block-btn ul li p {
  font-size: 34px;
  line-height: 38px;
}
@media (max-width: 570px) {
  .view-block-btn ul li p {
    font-size: 28px;
    line-height: 30px;
  }
}
.view-block-btn ul li a {
  font-size: 16px;
  line-height: 20px;
}

.product-view-2, .product-view-3 {
  margin: 30px 0;
}

.services-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid #e1e0e0;
  padding-bottom: 30px;
  margin: 30px 0;
}
.services-items:last-child {
  border-bottom: none;
}
@media (max-width: 768px) {
  .services-items {
    flex-direction: column;
    justify-content: center;
  }
}

.services-card-img img {
  width: 300px;
  height: 188px;
}
@media (max-width: 500px) {
  .services-card-img img {
    width: 100%;
    height: auto;
  }
}

.servises-text {
  width: 100%;
  text-align: justify;
  margin-left: 30px;
}
.servises-text p {
  margin: 15px 0;
}
@media (max-width: 768px) {
  .servises-text {
    margin-left: 0;
    margin-top: 30px;
  }
}

.services-ttl {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 15px;
  color: #7c3d8e;
}

.services-block-btn {
  text-align: right;
}
.services-block-btn a:first-child {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .services-block-btn {
    text-align: center;
  }
}

.services-btn {
  font-size: 14px;
  line-height: 18px;
  color: #7c3d8e;
  border: 1px solid #7c3d8e;
  border-radius: 5px;
  padding: 10px 15px;
}
.services-btn:active, .services-btn:focus, .services-btn:hover {
  text-decoration: none;
  color: #9f6dac;
}

.services-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .services-view {
    flex-direction: column;
  }
}

.services-view-img img {
  width: 450px;
  height: 282px;
}
@media (max-width: 500px) {
  .services-view-img img {
    width: 100%;
    height: auto;
  }
}

.services-view-info {
  margin-left: 25px;
}
.services-view-info h1 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .services-view-info h1 {
    margin: 25px 0;
  }
}
.services-view-info p {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
}

.services-view-block-text {
  margin: 35px 0;
}

.sales-view {
  margin: 30px 0;
  display: inline-block;
}
.sales-view img {
  width: 100%;
  height: auto;
}
.sales-view h1 {
  margin: 15px 0;
  color: #7c3d8e;
}
.sales-view p {
  text-align: justify;
}

.btn-request {
  background: #7c3d8e;
  border-radius: 5px;
  color: #e1e0e0;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 15px;
  margin-top: 15px;
  display: inline-block;
}
.btn-request:hover, .btn-request:focus, .btn-request:active {
  color: #393185;
  text-decoration: none;
}

.sales-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.sales-items {
  width: 25%;
  margin-left: 20px;
  list-style: none;
}
.sales-items:first-child {
  margin-left: 0;
}
.sales-items p {
  height: 100px;
  overflow: hidden;
}

.sales-img {
  position: relative;
  width: 100%;
  height: 200px;
}
.sales-ttl {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  color: #7c3d8e;
  margin: 20px 0;
}

.btn-sales {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: #7c3d8e;
  border: 2px solid #7c3d8e;
  border-radius: 5px;
  padding: 5px 13px;
  margin-top: 15px;
}

.main_block_products ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main_block_products ul li {
  list-style: none;
  margin: 0 10px;
  height: 26px;
}
.main_block_products ul li:first-child {
  margin-left: 0;
}

.btn-main-products {
  border: none;
  background: none;
  color: #7c3d8e;
  padding: 0 3px;
  cursor: pointer;
}
.btn-main-products:hover, .btn-main-products:active, .btn-main-products:focus {
  border-bottom: 2px solid #7c3d8e;
}
.btn-main-products.active {
  border-bottom: 2px solid #7c3d8e;
}

#main_products_show ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
#main_products_show ul li {
  height: 280px;
}
@media (max-width: 768px) {
  #main_products_show ul li {
    margin: 10px 0;
  }
}

.show_products_block {
  width: 100%;
  height: auto;
}

.show_products_items {
  width: 25%;
  display: inline-block;
  position: relative;
  margin: 5px 0 !important;
  padding: 10px;
}
.show_products_items:hover .block-addcart {
  display: block;
}
.show_products_items:hover, .show_products_items:active, .show_products_items:focus {
  box-shadow: 1px 8px 15px #9f6dac;
}
@media (max-width: 768px) {
  .show_products_items {
    width: 50%;
    padding: 0 10px;
  }
}
@media (max-width: 530px) {
  .show_products_items {
    width: 100%;
    text-align: center;
  }
}

.items-img {
  width: 213px;
  height: 150px;
  position: relative;
}
@media (max-width: 991px) {
  .items-img {
    width: 175px;
    height: 82px;
  }
}
@media (max-width: 768px) {
  .items-img {
    width: 245px;
    height: 135px;
  }
}
@media (max-width: 530px) {
  .items-img {
    margin: 0 auto;
  }
}

.items-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #7c3d8e;
  margin: 10px 0;
  display: inline-block;
}

.items-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  position: absolute;
  bottom: 35px;
}
@media (max-width: 991px) {
  .items-price {
    bottom: 77px;
  }
}
@media (max-width: 768px) {
  .items-price {
    bottom: 28px;
  }
}
@media (max-width: 530px) {
  .items-price {
    position: relative;
    bottom: auto;
  }
}

.block-addcart {
  display: none;
  position: absolute;
  bottom: 7px;
}
@media (max-width: 530px) {
  .block-addcart {
    position: relative;
    display: block;
  }
}

.popular_category {
  margin: 30px 0;
}
.popular_category h1 {
  font-size: 28px;
  line-height: 30px;
  color: #7c3d8e;
}
@media (max-width: 400px) {
  .popular_category h1 {
    font-size: 20px;
  }
}
@media (max-width: 300px) {
  .popular_category {
    text-align: center;
  }
}

.popular_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 15px;
}
@media (max-width: 300px) {
  .popular_block {
    flex-direction: column;
    justify-content: center;
  }
}

.popular_items {
  list-style: none;
  width: 50%;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.popular_items:hover, .popular_items:active, .popular_items:focus {
  box-shadow: 1px 1px 10px #9f6dac;
}
@media (max-width: 530px) {
  .popular_items {
    flex-direction: column;
  }
}
@media (max-width: 300px) {
  .popular_items {
    width: 100%;
  }
}

.popular-items-img {
  width: 125px;
  height: 54px;
  position: relative;
  margin-left: 10px;
}
.popular-items-title {
  font-size: 18px;
  line-height: 20px;
  margin-right: 20px;
  color: #9f6dac;
}
.popular-items-title:hover, .popular-items-title:active, .popular-items-title:focus {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .popular-items-title {
    font-size: 16px;
    margin-right: 10px;
  }
}
@media (max-width: 530px) {
  .popular-items-title {
    margin: 15px 0;
  }
}

.cart_block {
  margin: 20px 0;
}

.cart_items {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #e1e0e0;
}
.cart_items:first-child {
  padding-top: 0;
}
.cart_items:last-child {
  padding-bottom: 0;
}
@media (max-width: 425px) {
  .cart_items {
    flex-direction: column;
    position: relative;
  }
}

.cart-img {
  position: relative;
  width: 200px;
  height: 108px;
}
.cart-text {
  flex-grow: 1;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .cart-text {
    margin-left: 10px;
  }
}
@media (max-width: 425px) {
  .cart-text {
    text-align: center;
  }
}

.cart-ttl {
  font-size: 16px;
  line-height: 20px;
  color: #7c3d8e;
}
@media (max-width: 425px) {
  .cart-ttl {
    margin-top: 10px;
  }
}

.cart-block-price {
  width: 200px;
}

.cart-stranch {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.cart-stranch:last-child {
  margin-bottom: 0;
}

.btn-cart-delete {
  border: none;
  background: none;
  width: 50px;
}
.btn-cart-delete i {
  font-size: 18px;
  color: #ff0000;
}
@media (max-width: 425px) {
  .btn-cart-delete {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.cart_money {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
@media (max-width: 768px) {
  .cart_money {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .cart_money:last-child {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.block_discount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}

.block_points {
  position: relative;
  width: 40%;
}
.block_points input {
  border: 1px solid #9f6dac;
  background: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 7px 15px;
}
.block_points input:focus, .block_points input:active, .block_points input:focus-visible {
  border: 1px solid #393185;
  overflow: none;
}
.block_points button {
  position: absolute;
  right: 0;
  border: 1px solid #9f6dac;
  background: #9f6dac;
  color: #e1e0e0;
  border-radius: 10px;
  padding: 7px 10px;
}

.points_ttl {
  font-size: 14px;
  line-height: 15p;
  color: #9f6dac;
  font-weight: 500;
  margin-bottom: 10px;
}

.finish_price_ttl {
  font-size: 16px;
  line-height: 18px;
  color: #7c3d8e;
  font-weight: 500;
  margin-bottom: 5px;
}

.total_price_cart p {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: #7c3d8e;
}

.btn_order {
  border: 1px solid #7c3d8e;
  background: #7c3d8e;
  border-radius: 10px;
  padding: 10px 15px;
  color: #e1e0e0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.btn_order:hover, .btn_order:active, .btn_order:focus {
  color: #e1e0e0;
  background: #9f6dac;
  text-decoration: none;
}

.block-btn-order {
  text-align: end;
}

.cart-wrap {
  margin: 10px 0 30px 0;
}

.customer_block {
  margin: 10px 0;
  border: 1px solid #e1e0e0;
  padding: 10px;
  border-radius: 5px;
}
.customer_block p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #7c3d8e;
}

.checbox_customer {
  width: 15px !important;
}

.customer_items {
  margin: 15px 0;
}
.customer_items input {
  width: 100%;
  line-height: 20px;
  padding: 10px;
  border: 1px solid #9f6dac;
  border-radius: 5px;
}
.customer_items label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.checkbox_items {
  width: 300px;
}
.checkbox_items input[type=radio], .checkbox_items input[type=checkbox] {
  display: none;
}
.checkbox_items label {
  padding-left: 25px;
  margin-right: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.checkbox_items label:last-child {
  margin-right: 0;
}
.checkbox_items label:before {
  content: "";
  width: 17px;
  height: 18px;
  display: inline-block;
  position: absolute;
  left: 0;
  border: 2px solid #7c3d8e;
  border-radius: 3px;
}
.checkbox_items input[type=radio]:checked + label:before, .checkbox_items input[type=checkbox]:checked + label:before {
  content: "✓";
  display: inline-block;
  color: #7c3d8e;
  font-size: 19px !important;
  line-height: 16px !important;
}

.politic_items {
  margin: 0;
}

.checkbox_block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.btn-cancel {
  border: 1px solid #e1e0e0;
  background: #e1e0e0;
  color: #9f6dac;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-right: 10px;
}
.btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus {
  opacity: 0.75;
  color: #9f6dac;
  text-decoration: none;
}

.items_order_btn {
  text-align: right;
  margin: 0;
  position: relative;
}

.politic_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cb_total_items {
  list-style: none;
  text-align: end;
}
.cb_total_items p {
  color: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin: 10px 0;
}
.cb_total_items p span {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}

.red {
  color: #bc1414;
}

.finsih_order {
  text-align: center;
  margin-bottom: 50px;
}
.finsih_order p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.finsih_order p span {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #7c3d8e;
}
.finsih_order a {
  color: #7c3d8e;
}

.btn_placinig {
  width: 140px !important;
  border-radius: 10px !important;
}
.btn_placinig.disabled {
  opacity: 0.5;
}
.btn_placinig.disabled:hover, .btn_placinig.disabled:active, .btn_placinig.disabled:focus {
  background: #7c3d8e !important;
}

.loading {
  display: none;
  position: absolute;
  top: 8px;
  left: -35px;
}
.loading img {
  width: 25px;
  height: auto;
}

.card {
  background-color: unset;
  background-clip: unset;
  border: none;
  border-radius: 0;
}

.card-header {
  padding: 0;
  background-color: unset;
  border-bottom: none;
}

.card-body {
  padding: 0;
}

.btn {
  padding: 0;
}

.btn-link {
  color: inherit;
}

.card-header {
  position: relative;
}
.card-header button i {
  position: absolute;
  top: 5px;
  margin-left: 5px;
  font-size: 20px;
  line-height: 14px;
  color: inherit;
}

.services-nav {
  position: relative;
}
.services-nav:hover .services-navbar, .services-nav:focus .services-navbar, .services-nav:active .services-navbar {
  display: flex;
}

.services-navbar {
  display: none;
  position: absolute;
  top: 43px;
  left: 0;
  z-index: 2;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  background: #e1e0e0;
  border-radius: 0 0 5px 5px;
  padding: 5px;
}
.services-navbar li {
  padding: 10px;
  border-bottom: 1px solid #9f6dac;
}
.services-navbar li:last-child {
  border-bottom: none;
}

.mdl-auth .modal-header span {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
}
.mdl-auth .modal-body {
  display: inline-block;
}

.mdl-auth-form {
  margin: 15px 0;
}
.mdl-auth-form input, .mdl-auth-form select {
  width: 100%;
  line-height: 20px;
  padding: 10px;
  border: 1px solid #9f6dac;
  border-radius: 5px;
  margin-bottom: 10px;
}
.mdl-auth-form label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.btn_auth {
  width: 125px !important;
  margin-top: 15px;
  border-radius: 10px !important;
  padding: 8px 15px !important;
}

.btn_reg_form {
  width: 200px !important;
  margin-top: 15px;
  border-radius: 10px !important;
  padding: 8px 15px !important;
}

.btn_auth_close {
  width: 125px !important;
  margin-top: 15px;
}

.btn-reg {
  color: #7c3d8e;
  background: none;
  border: none;
  cursor: pointer;
}
.btn-reg:hover, .btn-reg:active, .btn-reg:focus {
  text-decoration: underline;
}

.users-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 50px 0;
}

.user-sidebar {
  width: 25%;
  border-right: 1px solid #7c3d8e;
  padding: 15px;
}
.user-sidebar li {
  list-style: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #7c3d8e;
  margin: 10px 0;
  cursor: pointer;
}
.user-sidebar .active {
  color: #9f6dac;
  text-decoration: underline;
}

.user_show_block {
  width: 65%;
}

.user_items {
  list-style: none;
  display: none;
}
.user_items ul li {
  list-style: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 5px 0;
}
.user_items ul li span {
  font-weight: 600;
}
.user_items.show {
  display: block;
}
.user_items h2, .user_items h1 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

.brand_block {
  width: 100%;
  margin: 50px 0;
}

.brand_items {
  width: 100%;
  height: 100px;
}

#carouselBrand .carousel-inner .carousel-item.active, #carouselBrand .carousel-inner .carousel-item-next, #carouselBrand .carousel-inner .carousel-item-prev {
  display: flex;
}

#carouselBrand .carousel-inner .carousel-item-right.active, #carouselBrand .carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

#carouselBrand .carousel-inner .carousel-item-left.active, #carouselBrand .carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}

#carouselBrand .carousel-inner .carousel-item-right, #carouselBrand .carousel-inner .carousel-item-left {
  transform: translateX(0);
}

#carouselBrand .carousel-inner .carousel-item {
  height: auto;
}

#carouselBrand .carousel-control-next-icon, #carouselBrand .carousel-control-prev-icon {
  padding: 20px;
  border-radius: 20px;
  background-color: #7c3d8e;
  background-size: 24px;
}

/*# sourceMappingURL=finish.css.map */
