@font-face {
	font-weight: 400;
	font-family: Roboto;
	src: url("/images/fonts/Roboto-Regular.ttf");
}
@font-face {
	font-weight: 700;
	font-family: Roboto;
	src: url("/images/fonts/Roboto-Bold.ttf");
}
@font-face {
	font-weight: 300;
	font-family: Roboto;
	src: url("/images/fonts/Roboto-Light.ttf");
}

$font-famaly: 'Roboto', sans-serif;
$color1: #7c3d8e;
$color2: #393185;
$color3: #9f6dac;
$color4: #e1e0e0;
%size16{
    font-size: 16px;
    line-height: 20px;
}
%hover{
    &:hover, &:focus, &:active{
        text-decoration: underline;
    }
}
%hover_btn{
    &:hover, &:focus, &:active{
        color: $color4;
        text-decoration: underline;
    }
}

html, body
{
	margin:0;
	padding:0;
    background: #fff;
    font-family: $font-famaly;
    font-size: 14px;
    font-weight: 400;
}
a img, a
{
	border:none;
	outline:none;
}
.clear
{
	clear:both;
	visibility: hidden;
	height:0px;
	overflow: hidden;
}
h1, h2, h3{
	font-family: $font-famaly;
	font-weight: 700;
}
p, a{
	font-family: $font-famaly;
	font-weight: 400;
    color: #000;
}
a{
    text-decoration: none;
}
i{
    margin-right: 5px;
}
small{
	font-family: $font-famaly;
	font-weight: 300;
}
header{
    position: relative;
}
.header-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    p{
        padding: 3px 0;
        margin: 0;
        a{
            font-size: 16px;
            @extend %hover;
            @media (max-width: 768px){
                font-size: 14px;
            }
            @media (max-width: 400px){
                font-size: 12px;
            }
        }
    }
    a {
        font-size: 16px;
            @extend %hover;
            @media (max-width: 768px){
                font-size: 14px;
            }
            @media (max-width: 400px){
                font-size: 12px;
            }
    }
}
.auth-btn{
    margin-left: 10px;
}
.header-block-left{
    margin: 10px 0;
}
.logo{
    width: 125px;
    height: auto;

    @media (max-width: 768px){
        width: 100px;
    }
}
.header2{
    background: $color1;
    position: relative;
}
.header-search{
    width: 80%;
    padding: 0 50px;
    display: inline-block;
    form{
        position: relative;
        input{
            width: 100%;
            padding: 10px 15px;
            background: #f5f5f5;
            border: none;
            border-radius: 25px;
            opacity: .75;
        }
        button{
            margin: 2px;
            position: absolute;
            right: 0;
            border: 2px solid $color3;
            border-radius: 25px;
            width: 50px;
            height: 37px;

            i{
                font-size: 23px;
                line-height: 28px;
                color: $color3;
                margin-left: 5px;
            }
        }
    }
    @media (max-width: 600px){
        padding: 0 10px;
    }
} 
.btn-cart{
    position: relative;
    padding: 0 25px;
    text-align: center;
    font-size: 36px !important;
    line-height: 45px;
    color: #e1e0e0;

    &:hover, &:focus, &:active{
        color: $color3;
    }
    i {
        margin-right: 0;
    }

    @media (max-width: 600px){
        display: none;
    }
}
/* nav */
nav{
    display: inline-block;
    width: 100%;
    background: $color4;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 768px){
        flex-direction: column-reverse;
    }
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    margin: 3px 0;

    li{
        list-style: none;
        margin: 3px 15px;

        a{
            color: $color1;
            padding: 0 2px;
            &:hover, &:active, &:focus{
                color: $color2;
                border-bottom: 3px solid $color2;
            }
        }
        @media (max-width: 768px){
            margin: 3px 10px;
        }
    }
    @media (max-width: 575px){
        width: 100%;
        overflow: scroll;
    }
}
.nav-catalog{
    background: $color3;
    width: 200px;
    padding: 5px 15px;
    position: relative;
    border-radius: 10px;
    color: $color4;
    font-size: 16px;
    line-height: 20px;
    margin-left: 0;

    &:hover{
        border-radius: 10px 10px 0 0;
    }
    &:hover .sidebar{
        display: block;
    }
    i{
        float: right;
        font-size: 22px;
        margin-right: 0;
        @media (max-width: 768px){
            float: left;
            margin-right: 5px;
        }
    }
    &:hover i::before{
        content: "\F156";
    }
    @media (max-width: 768px){
        width: 100%;
        background: none;
        border-radius: 0;
        border-top: 1px solid $color3;
        color: $color3;
        &:hover{
            border-radius: 0;
        }
    }
}
.sidebar{
    display: none;
    position: absolute;
    left: 0;
    top: 25px;
    width: 100%;
    background: $color3;
    border-radius: 0 0 10px 10px;
    z-index: 1;
    padding: 10px 0;

    li{
        list-style: none;
        text-align: left;
        margin: 0;
        border-bottom: 1px solid $color4;
        &:last-child{
            border-bottom: none;
        }
        a{
            color: $color4;
            padding: 10px;
            display: inline-block;
            width: 100%;
            &:hover, &:active, &:focus{
                border-left: 6px solid $color4;
                border-bottom: none;
                color: $color4;
            }
            @media (max-width: 768px){
                color: $color3;
                &:hover, &:active, &:focus{
                    border-left: 6px solid $color3;
                }
            }
        }
    }
    @media (max-width: 768px){
        background: $color4;
    }
}
/* nav */
footer{
    background: $color1;
    padding: 50px 0;
}
.footer-blok{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 570px){
        flex-wrap: wrap;
    }
    @media (max-width: 425px){
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
.f-title{
    font-size: 18px;
    line-height: 20px;
    color: $color4;
    border-bottom: 1px solid $color4;
}
.footer-items{
    width: 25%;
    padding: 0 15px;

    &:first-child{
        padding-left: 0;
        @media (max-width: 570px){
            padding-left: 15px;
        }
    }
    &:last-child{
        padding-right: 0;
        @media (max-width: 570px){
            padding-right: 15px;
        }
    }
    ul{
        padding: 0;
        li{
            list-style: none;
            font-size: 14px;
            line-height: 18px;
            margin: 7px 0;
            color: $color4;
            a{
                color: $color4;
                @extend %hover;
            }
        }
    }
    @media (max-width: 570px){
        width: 50%;
    }
    @media (max-width: 425px){
        width: 100%;
        text-align: center;
    }
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    li i{
        font-size: 25px;
    }
    @media (max-width: 425px){
        justify-content: center;
    }
}
.slide{
    margin: 30px 0;
}
.carousel-item{
    width: 100%;
    height: 435px;
    overflow: hidden;
}
.carusel-main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    object-fit:cover;
    width: 100%;
    height: 100%;
}
.slide-tlt{
    font-size: 42px;
    color: $color1;
    line-height: 48px;
    font-weight: 700;

    @media (max-width: 768px){
        font-size: 26px;
        line-height: 35px;
    }
    @media (max-width: 525px){
        font-size: 18px;
        line-height: 25px;
    }
}
.carousel-caption{
    bottom: 45px;
    left: 45px;
    background: $color4;
    text-align: left;
    width: 440px;
    height: 175px;
    padding: 10px 15px;
    margin: 0;
    border-radius: 15px;
    @media (max-width: 768px){
        width: 290px;
        height: 145px;
    }
    @media (max-width: 525px){
        left: 10px;
        width: 240px;
        height: 125px;
    }
}
.slide-btn{
    color: $color1;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid $color1;
    padding: 8px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;

    &:focus, &:active, &:hover{
        opacity: .7;
    }
    @media (max-width: 768px){
        font-size: 16px;
        padding: 5px 16px;
    }
    @media (max-width: 525px){
        font-size: 14px;
        padding: 3px 10px;
    }
}
.carousel-control-next, .carousel-control-prev{
    width: 6%;
}
.block-requerst{
    position: absolute;
    right: 0;
    bottom: -63px;
    background: $color1;
    width: 60px;
    height: auto;
    border-radius: 10px 0 0 10px;
    z-index: 9999;
    text-align: center;
}
.btn-cart-mb{
    display: none;
    font-size: 36px !important;
    line-height: 45px;
    color: $color4;
    padding: 0 4px;

    &:hover, &:focus, &:active{
        color: $color3;
    }
    i {
        margin-right: 0;
    }
    @media (max-width: 600px){
        display: block;
    }
}
.btn-feedback{
    border: none;
    background: none;
    color: $color4;
    font-size: 36px;
    line-height: 45px;
    padding: 4px;
    text-align: center;
    &:hover, &:focus, &:active{
        color: $color3;
    }
    i {
        margin-right: 0;
    }
}
.tooltiptext, .tooltiptext-orders{
    display: none;
    width: 135px;
    position: absolute;
    top: 7px;
    right: 50px;
    background: $color2;
    font-size: 14px;
    color: $color4;
    padding: 2px 5px;
    border-radius: 7px;
}
.block-feedback:hover .tooltiptext{
    display: block;
}
.block-orders:hover .tooltiptext-orders{
    display: block;
}
.main-block-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    li{
        list-style: none;
        margin: 0 5px;
        height: 35px;
        &:first-child{
            margin-left: 0;
        }

        button{
            border: none;
            background: none;
            font-size: 16px;
            line-height: 20px;
            padding: 2px 5px;

            &:hover, &:focus, &:active{
                border-bottom: 2px solid #000;
            }
        }
    }
}
.product_cart{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid $color4;
    border-bottom: 1px solid $color4;
    padding: 25px 0;

    &:first-child{
        border-top: none;
    }
    &:last-child{
        border-bottom: none;
    }
    @media (max-width: 768px){
        width: 50%;
        flex-direction: column;
        flex-wrap: wrap;
        border-top: none;
        border-bottom: none;
    }
}
.cart-img{
    width: 25%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    picture{
        display: inline-block;
        width: 300px;
        height: 141px;
        @media (max-width: 1440px){
            width: 270px;
            height: 127px;
        }
        @media (max-width: 1199px){
            width: 235px;
            height: 110px;
        }
        @media (max-width: 991px){
            width: 200px;
            height: 94px;
        }
        @media (max-width: 768px){
            width: 260px;
            height: 122px;
        }
        @media (max-width: 530px){
            width: 225px;
            height: 106px;
        }
        @media (max-width: 530px){
            width: 200px;
            height: 94px;
        }
        @media (max-width: 400px){
            width: 175px;
            height: 82px;
        }
        @media (max-width: 320px){
            width: 150px;
            height: 71px;
        }
    }
    @media (max-width: 768px){
        width: 100%;
    }
}
.cart_block_text{
    width: 55%;
    hr{
        margin-top: 30px;
    }
    div{
        text-align: justify;
        margin: 10px 0;
        @media (max-width: 768px){
            display: none;
        }
    }
    @media (max-width: 991px){
        width: 50%;
    }
    @media (max-width: 768px){
        width: 100%;
        text-align: center;
        margin: 15px 0;
        hr{
            display: none;
        }
    }
}
.cart-text-description{
    position: relative;
    p{
        margin-bottom: 0;
    }
    p.hide{
        height: 85px;
        overflow: hidden;
    }
}
#desc_btn{
    display: none;
    position: absolute;
    top: 80px;
    padding: 0;
    &.show{
        display: block;
        &.pos{
            position: relative;
            top: 0;
        }
    }
}
.cart-title{
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    @media (max-width: 768px){
        font-size: 16px;
    }
    @media (max-width: 600px){
        font-size: 14px;
        font-weight: 500;
    }
}
.cart-price, .cart-price span{
    font-size: 18px;
    font-weight: 600;
    @media (max-width: 768px){
        font-size: 16px;
        margin-bottom: 0;
    }
}
.cart_block_price{
    width: 15%;
    margin-left: 25px;
    text-align: right;
    @media (max-width: 991px){
        width: 16%;
        margin-left: 0;
    }
    @media (max-width: 768px){
        width: 100%;
        text-align: center;
    }
}
.amount{
    position: relative;
    display: inline-block;
    width: 110px;

    button{
        position: absolute;
        border: none;
        background: none;
        font-size: 22px;
        line-height: 31px;
        &:first-child{
            right: 0;
        }
        &:last-child{
            left: 0;
        }
        &:hover, &:focus, &:active{
            color: $color1;
            opacity: .7;
        }
        @media (max-width: 768px){
            font-size: 18px;
        }
    }
    input{
        width: 100%;
        text-align: center;
        background: $color4;
        border: 1px solid $color4;
        border-radius: 3px;
        line-height: 30px;
    }
    @media (max-width: 768px){
        width: 90px;
    }
}
.btn-cart-product{
    position: relative;
    display: inline-block;
    border: none;
    background: $color1;
    border-radius: 3px;
    color: $color4;
    padding: 7px 16px;
    font-size: 16px;
    margin-top: 15px;
    width: 110px;
    &:focus, &:active, &:hover{
        opacity: .6;
    }
    @media (max-width: 991px){
        padding: 7px 15px;
    }
    @media (max-width: 768px){
        width: 90px;
        padding: 7px 10px;
        font-size: 14px;
    }
}
.product-wrap{
    margin: 30px 0;

    ul{
        padding-left: 0;

        @media (max-width: 768px){
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
.accordion-button:not(.collapsed){
    background: none;
}
.accordion-item{
    border: none;
    background: none;
}
.accordion-button, .accordion-body{
    padding: 10px 0;
}
.product-view-1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px 0;

    @media (max-width: 570px){
        flex-direction: column;
    }

    img{
        width: 50%;
        @media (max-width: 570px){
            width: 100%;
        }
    }
}

.view-block-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    @media (max-width: 570px){
        justify-content: flex-start;
        width: 100%;
        margin-top: 30px;
    }
    ul{
        @media (max-width: 768px){
            text-align: end;
        }
        @media (max-width: 570px){
            text-align: left;
        }
        li{
            list-style: none;
            width: 100%;
            p{
                font-size: 34px;
                line-height: 38px;
                @media (max-width: 570px){
                    font-size: 28px;
                    line-height: 30px;
                }
            }

            a{
                font-size: 16px;
                line-height: 20px;

                @extend %hover;
            }
        }
    }
}
.product-view-2, .product-view-3{
    margin: 30px 0;
}