@font-face {
	font-weight: 400;
	font-family: Roboto;
	src: url("/images/fonts/Roboto-Regular.ttf");
}
@font-face {
	font-weight: 700;
	font-family: Roboto;
	src: url("/images/fonts/Roboto-Bold.ttf");
}
@font-face {
	font-weight: 300;
	font-family: Roboto;
	src: url("/images/fonts/Roboto-Light.ttf");
}

$font-famaly: 'Roboto', sans-serif;
$color1: #7c3d8e;
$color2: #393185;
$color3: #9f6dac;
%size16{
    font-size: 16px;
    line-height: 20px;
}
%hover{
    &:hover, &:focus, &:active{
        color: #948beb;
    }
}

html, body
{
	margin:0;
	padding:0;
    background: #fff;
    font-family: $font-famaly;
    font-size: 14px;
    font-weight: 400;
}
a img, a
{
	border:none;
	outline:none;
}
.clear
{
	clear:both;
	visibility: hidden;
	height:0px;
	overflow: hidden;
}
h1, h2, h3{
	font-family: $font-famaly;
	font-weight: 700;
}
p, a{
	font-family: $font-famaly;
	font-weight: 400;
    color: #000;
}
a{
    text-decoration: none;
}
i{
    margin-right: 5px;
}
small{
	font-family: $font-famaly;
	font-weight: 300;
}
.header-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    p{
        padding-top: 12px;
    }
}
.logo{
    width: 125px;
    height: auto;
}
.header2{
    background: $color1;
}
.header-search{
    width: 80%;
    padding: 0 50px;
    display: inline-block;
    form{
        position: relative;
        input{
            width: 100%;
            padding: 10px 15px;
            background: #f5f5f5;
            border: none;
            border-radius: 25px;
            opacity: .75;
        }
        button{
            margin: 2px;
            position: absolute;
            right: 0;
            border: 2px solid $color3;
            border-radius: 25px;
            width: 50px;
            height: 37px;

            i{
                font-size: 23px;
                line-height: 28px;
                color: $color3;
                margin-left: 5px;
            }
        }
    }
} 
.btn-request{
    width: 150px;
    font-size: 14px;
    color: $color3;
    font-weight: 600;

    @extend %hover;
}
div.nav-item.dropdown{
    min-width: 250px;
    background: #b0afaf;
    border-radius: 15px;
    padding: 3px 15px;
}
.dropdown-menu.show{
    min-width: 250px;
}
a.dropdown-toggle{
    color: #fff !important;
    margin: 0;

    &:hover, &:focus, &:active{
        color: #fff !important;
    }
    &::after{
        border-top: 0.4em solid;
        border-right: 0.4em solid transparent;
        border-left: 0.4em solid transparent;
        margin-top: 8px;
        float: right;
    }
}
.navbar-nav, .dropdown-item{
    @extend %size16;
}
.dropdown-item{
    margin: 5px 0;

    &:hover, &:active, &:focus{
        border-left: 4px solid $color3;
    }
}
.nav-link{
    margin: 0 12px;

    @extend %hover;
}
footer{
    background: $color1;
    padding: 50px 0;
}
.footer-blok{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.f-title{
    font-size: 18px;
    line-height: 20px;
    color: #e1e0e0;
}
.footer-items{
    width: 25%;
    ul{
        padding: 0;
        li{
            list-style: none;
            font-size: 14px;
            line-height: 18px;
            margin: 3px 0;
            color: #e1e0e0;
            a{
                color: #e1e0e0;
            }
        }
    }
}


